<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCPyX8ixr5JR_wP01NdL--mWgbyvX3SXII</string>
	<key>GCM_SENDER_ID</key>
	<string>291626094648</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.robochat.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>robochat-d515b</string>
	<key>STORAGE_BUCKET</key>
	<string>robochat-d515b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:291626094648:ios:143794c3cdaef262a096cd</string>
</dict>
</plist>